*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 10vw*/
    font-size: 16px;
    color: gainsboro;
}


body{
    background-image: url(../src/bg.jpg);
}


header{
   background-color: black;
   padding: 1.5rem 0;
   text-align: center;
   display: flex;
   justify-content: center;
   
}
header p {
    margin-left: 2rem;
    font-size: 6rem;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0.5rem;
}
nav a{
    font-size: 1.3rem;
    text-decoration: none;
    margin: 1rem;
}


section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    justify-content: space-evenly
    /*grid-column: 1/5;
    digo cuanto ocupa la columna*/
}


form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.tituloFormulario{
    font-size: 3rem;
    text-decoration: underline;
    text-shadow: 1rem white;
    text-align: left;
    margin-left: 2rem;
    
}
form label, input, fieldset, legend, summary, p{
    font-size: 1.3rem;
}
form input, textarea{
    color: black;
    margin-bottom:1rem;
    background-color: gainsboro;
}
form details{
    margin-bottom: 1rem;
}
form details p{
    margin: 0.3rem 0;
}
#myfile {
    color: gainsboro;
    background-image: url(../src/bg.jpg);
}
form fieldset{
    margin-bottom: 1rem;
}
form fieldset legend{
    margin-bottom: 0.5rem;
}
form fieldset label{
    display: inline-block;
    margin: 0.5rem 1rem;
}


.video{
    margin: 1rem auto;
}

footer{
    text-align: center;
    margin: 0.5rem auto;
}
footer img{
    height: 2rem;
}